<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:mvc="http://www.springframework.org/schema/mvc"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
        
        <context:property-placeholder location="classpath*:task-def.properties, classpath*:pfms-config.properties" />
        
        <mvc:resources mapping="/js/**" location="/js/"/>  
	    <mvc:resources mapping="/css/**" location="/css/"/>  
	    <mvc:resources mapping="/images/**" location="/images/"/>  
	    <mvc:default-servlet-handler /> 
        <!-- 配置自动扫描的包 -->
        <mvc:annotation-driven />  
        <context:component-scan base-package="org.tom.pfms" />
        
        <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
        
        <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name = "prefix" value="/WEB-INF/views/"></property>
            <property name = "suffix" value = ".jsp"></property>
            <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        </bean>
        
        <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">  
	        <property name="jndiName">  
	            <value>java:comp/env/jdbc/oracle/pfms</value>  
	        </property>  
	    </bean> 
        
         <bean id="transactionManager"   
	          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
	        <property name="dataSource" ref="dataSource" />  
	    </bean>  
        
        <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
		    <property name="dataSource" ref="dataSource" />
		    <property name="configLocation"  value="classpath:sqlMapConfig.xml"/>    
		</bean>  

       <bean id ="sTemplate" class = "org.mybatis.spring.SqlSessionTemplate">
            <constructor-arg index = "0" ref="sessionFactory"></constructor-arg>
	   </bean>
	    
	    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	        <property name="mapperInterface" value="org.tom.pfms.dao.UserDao"></property>
	        <property name="sqlSessionFactory" ref="sessionFactory"></property>    
	    </bean>
	    
</beans>